.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rdt_Table {
  @apply bg-light text-dark border-lightBorder;  
}

.rdt_TableHead {
  @apply bg-light text-lightTitle;  
}

.rdt_TableRow {
  @apply bg-light text-lightTitle border-b border-lightBorder;  
}

.rdt_TableRow:hover {
  @apply bg-light text-lightTitle;  
}
.css-yqyng-control {
  
  background: #F9FAFB !important; 
  color:#F9FAFB !important

}
.css-197ude0-control {
  
  background: #F9FAFB !important; 
  color:#F9FAFB !important

}
.dark .css-yqyng-control {
  
  background: #111827 !important; 
  color:#F9FAFB !important

}
.css-197ude0-control {
  
  background: #111827 !important; 
  color:#F9FAFB !important

}


/* Dark Mode Styles */
.dark body {
  background-color: #111827; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark .rdt_Table {
  @apply bg-dark text-darkTitle border-darkBorder;  
}

.dark .rdt_TableHead {
  @apply bg-dark text-darkTitle;  
}
.dark .rdt_TableHeadRow {
  @apply bg-darkCard text-darkTitle;  
}

.dark .rdt_TableRow {
  @apply bg-darkCard text-darkTitle border-b border-darkBorder; 
}
.dark .rdt_TableRow {
  @apply border; 
}
.dark .kgpTAk {
  @apply bg-darkCard text-white; 
}

.dark .rdt_TableRow:hover {
  @apply bg-darkCard text-darkTitle ;  
}

.dark .rdt_Pagination{
  @apply bg-darkCard text-darkTitle
}
.dark .css-yqyng-control{
  @apply border border-darkBorder
}
.dark #pagination-last-page,
.dark #pagination-next-page,
.dark #pagination-previous-page,
.dark #pagination-first-page {
  fill: white;
}

.dark .css-1dg3e3x-control{
  @apply bg-darkCard text-darkTitle ; 
} 

.dark .css-uguckl-control{
  @apply bg-darkCard text-darkTitle ; 
}
  
.dark .css-1nmdiq5-menu{
  @apply bg-darkCard text-darkTitle ; 
}
.dark .css-fmqkmq-control{
  @apply bg-darkCard text-darkTitle ; 
}
.dark .rbc-btn-group{
  @apply bg-gray-300; 
}
.dark .rbc-off-range-bg{
  @apply bg-black; 
}
.dark .rbc-today{
  @apply bg-gray-600; 
}

  
.rdt_Table,
.rdt_TableHead,
.rdt_TableRow {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.react-datepicker-wrapper {
  width: 100% ;
}
.react-datepicker__input-container input {
  width: 100%  ;
  border-radius:8px;
}

